<%= form_for(customer, url: url, method: methods) do |f| %>
  <div class="form-group">
    <%= f.label_tag :Customer_Name %>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label_tag :Status %>
    <%= f.select :status, options_for_select(["Single","Married","Iniwan"]),{},{class: "form-control"}%>
  </div>
  <div class="form-group">
    <%= f.label_tag :Gender %>
    <%= f.select :gender, options_for_select(["Male","Female","Di pa sure"]),{},{class: "form-control"}%>
  </div>
  <div class="form-group">
    <%= f.label_tag :Age %>
    <%= f.text_field :age,type: "number", class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label_tag :Email %>
    <%= f.text_field :email,type: "email", class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label_tag :Address %>
    <%= f.text_area :address,rows: 5, class: "form-control"%>
  </div>
  <div class="pull-right">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Back", customers_path, class: "btn btn-default" %>
  </div>
<% end %>