<h1>Movies</h1>
<%= link_to "Add New",new_admin_movie_path, class: "btn btn-success" %>
<br>
<br>
<table class="table table-bordered">
  <thead>
    <th width="5%">Id</th>
    <th width="55%">Title</th>
    <th width="10%">Total Copy</th>
    <th width="10%">Price</th>
    <th width="20%">Action</th>
  </thead>
  <tbody>
    <% @movies.each do |movies| %>
      <tr>
        <td><%= movies.id %></td>
        <td><%= movies.title %></td>
        <td><%= movies.total_copy %></td>
        <td><%= movies.price %></td>
        <td>
          <%= link_to "Show", admin_movie_path(movies), class: "btn btn-primary"%>
          <%= link_to "Update", edit_admin_movie_path(movies), class: "btn btn-warning" %>
          <%= link_to "Delete", admin_movies_path(movies),data:{confirm: "Are you sure to delete?"}, method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pull-right">
  <%= paginate @movies %>
</div>